                                            OOPS

In [1]:
class Vishnu:
    pass

In [3]:
a=Vishnu

In [4]:
print(a)

<class '__main__.Vishnu'>

In [5]:
class Vishnu:
    
    def __init__(self,name,age,dob):
        self.name=name
        self.age=age
        self.dob=dob

In [6]:
Details=Vishnu("Vishnu",24,1999)

In [10]:
Details.name

'Vishnu'

In [11]:
Details.age

24

In [12]:
Details.dob

1999

In [13]:
Details.dob=1998

In [14]:
Details.dob

1998

In [17]:
Details

In [21]:
class Vishnu:
    
    def __init__(self,name,age,dob):
        self.name=name
        self.age=age
        self.dob=dob
        
    def details(self):
        return ("all details about the vishnu is given")

In [22]:
a=Vishnu("vishnu",24,1999)

In [23]:
a.details()

'all details about the vishnu is given'

In [24]:
class BMI_Calculator():
    
    #constuctor
    
    def __init__(self,weight,height):
        self.weight=weight
        self.height=height
        
    def bmi(self):
        BMI=self.weight/(self.height*self.height)
        
        if BMI <=18.5:
            print("under weight",BMI)
        elif BMI>=18.5 and BMI <=24.99:
            print("Normal weight",BMI)
        elif BMI>=25 and BMI<=29.99:
            print("over weight",BMI)
        else:
            print("Obesity",BMI)

a=BMI_Calculator(84,1.84)    

(a.bmi())

Normal weight 24.8109640831758

In [25]:
class Rectangle:
    def __init__(self,width,height):
        self.width=width
        self.height=height
        
    def Calulate_perimiter(self):
        
        Perimter=2*(self.width+self.height)
        
        print(Perimter)

#Rectangle=Rectangle(100,100)

#Rectangle.Calulate_perimiter()
        
        
    
a=Rectangle(250,650)   

a.Calulate_perimiter()

1800

In [26]:
class Employee:
    
    def __init__(self,name,position,salary):
        self.name=name
        self.position=position
        self.salary=salary
        
    def calculate_bonous(self):
        bonous=0.1  #10% of employee salary
        New_Salary=(bonous*self.salary)+self.salary
        
        return New_Salary
    
Emp=Employee("vishnu","manager",50000)
Emp1=Employee("smitha","CEO",650000)

print("the employee new salary", Emp.calculate_bonous())
print("the employee new salary", Emp1.calculate_bonous())

the employee new salary 55000.0
the employee new salary 715000.0

In [28]:
class Book:
    
    def __init__(self,name,gender):
        self.name=name
        self.gender=gender
        
    def greet(self):
        print(f"wlecome to this AI world {self.name}")
        
Person=Book("Vishnu","male")

(Person.greet())

wlecome to this AI world Vishnu

In [29]:
class Students :
    
    def __init__(vish,name,age,dob,palce,standard):
        vish.name=name
        vish.age=age
        vish.dob1=dob
        vish.palce=palce
        vish.standard=standard
        
_1=Students("vishnu",16,1999,"mlm","sslc")  
_2=Students("anoopp",17,1998,'ybm',"9th")

#concationation of name and placea

print(_1.dob1)
print(_2.palce)
a=print(_1.name+_1.standard)
print(type(a))

1999
ybm
vishnusslc
<class 'NoneType'>

In [30]:
class Car :
    
    def __init__(self,make,model,year):
        self.make1=make
        self.model1=model
        self.year1=year
        
    def start_engine(self):
        return "The engine has started"
    
Car1=Car("tata","indica",2000)

#print(Car1.make1)
print(Car1.start_engine())

The engine has started

In [35]:
'''CLASSES CREATED WITHOUT CONSTRUCTOR'''

class person:
    
    def age(self,currentyear,dob):
        return dob-currentyear
    
    def emailid_input(self,emailid):
        print("take a mail aid from person and print it",emailid)
        
    def ask_name(self):
        name=input("tell me your name ")
        return name
        
    def ask_dob(self):
        dob=input("tell me your dob")
        return dob
    
    
vishnu=person()
santosh=person() 
veena=person()



#vishnu.emailid_input("vishnumurali@gmail")
    
vishnu.ask_dob()
vishnu.age(1999,2023)

tell me your dob1999

24

In [36]:
class Rectangle:
    
    def __init__(self,width,height):
        self.width=width
        self.height=height
        
        
    def area(self):
        area=self.width*self.height
        return area
    
a=Rectangle(25,25)
print(a.area())

625

In [38]:
class student:
    
    def __init__(self,name,age):
        self.name=name
        self.age=age
        
    def info(self):
        print(f"the student name is {self.name} and student age is {self.age}")
        
    
a=student('vishnu',25)
b=student('veena',22)
c=student('kiran',26)

(a.info())
(c.info())

the student name is vishnu and student age is 25
the student name is kiran and student age is 26

In [60]:
class Bank_account:
    
    def __init__(self,accno,balance):
        self.accno=accno
        self.balance=balance
          
    def deposits(self,deposits):
        Balance=deposits+self.balance
        
        return Balance
    
    def withdraw(self,withdraw):
        New_Balance=self.balance-withdraw
        
        return New_Balance
    
a=Bank_account(2525,100000)

In [61]:
print("the total balance in my account",a.balance)

print("My new balance wiil be",(a.deposits(25000)))

print("after withdrwaing amount the balance is ",a.withdraw(10000,))

the total balance in my account 100000
My new balance wiil be 125000
after withdrwaing amount the balance is  90000